backend/TimePlanner.WebApi/wwwroot/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/TimePlanner/FileContentIndex/3c80c5d3-e79c-472c-9bb0-26c854a89a7e.vsidx
.vs/TimePlanner/FileContentIndex/86af66dc-806a-4897-9ccf-29ad706aaf66.vsidx
.vs/TimePlanner/FileContentIndex/b66012ca-ad89-46c9-a431-d46b7a2b4f44.vsidx
.vs/TimePlanner/FileContentIndex/ef4b6d0f-2ab2-40e5-94f6-842159ca3b44.vsidx
.vs/TimePlanner/FileContentIndex/read.lock
.vs/TimePlanner/v17/.suo
/.vs/TimePlanner/FileContentIndex/99f56aed-bf26-4d21-b794-e2f0b6585ee7.vsidx
